.alert-text{
    text-align: center;
    margin-left: 60px;
  }
  .create-invite-modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
  }
  .create-invite-invalid-feedback{
    top: -7px;
    font-size: 16px;
    position: relative;
    left: -2px;
    color: red;
   margin-top:60px;
   margin-left:-272px
  }
  .alert{
  border-color: red;
  }
  
  .create-invite-input {
    display: flex;
    float:right;
    flex-direction: row;
    text-align: left;
    width: 250px;
    height:20px;
    padding: 10px;
    line-height: 26px;
    margin-left:79px;
    margin-bottom: 24px;
    border-color: black;
    border-radius: 12px;
    border-width: 2px;
    outline: none;   
  }
  #username{
    width:250px;
    height:18px;
    margin-left: 70px;
  }
  #Email{
    width:250px;
    margin-left: 57.5px;
    height: 18px;
  }
  #role{
    width: 275px;
    margin-bottom: 29px;
    margin-left: 89px;
    
  }
  #password{
    width: 250px;
    height:18px;
    margin-left: 53px;   
  }
  
  .other-label{
  margin-left: 100px;
  margin-top: 10px;
  }
  .rolelabel{
    margin-left: 98px;
    margin-top: 23px;
  }
  .create-invite-container {
  display: flex;
  position: relative;
    left: -70px;
  }
  .countries.alert{
  width: 330px;
  height: 41px;
  padding: 10px;
  line-height: 26px;
  margin-right: 10px;
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  border-color: red;
  border-width: 2px;
  border-radius: 12px;
  outline: none;
  }
  
  .create-invite-select{
  width: 325px;
  height: 41px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  margin-left: 70px;
  text-align: left;
  border-color: black;
  border-width: 2px;
  border-radius: 12px;
  outline: none;
  
  }
   /* select:focus{
  width: 330px;
  height: 41px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  padding: 10px;
  line-height: 26px;
  border-color: black;
  border-width: 2px;
  border-radius: 12px;
  outline: none;
  }  */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  button{
    cursor: pointer;
  }
  .fields{
    margin-left: 50px;
    margin-top: 10px;
  }
  .modal-close-button-invite{
    top: 52px;
    right: 375px;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    color: white;
    background-color:  #346751;
    
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-top{
  margin-bottom: 0;
  line-height: 2.75;
  background-color: #346751;
  
  
  
  }
  .create-invite-modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45.22%;
  margin-top:22px;
  height: 450px;
  }
  .fades{
    background-color: rgba(0,0,0,0.4);
  }
  .button-group-invite{
    color: white;
    border: 1px solid #ccc;
    background-color: #346751;
    border-radius: 8px;
    width: 147px;
    height: 50px;
    margin-top: 10px;
}
.button-group-invite:hover{
    border: 1px solid #ccc;
    background-color: #346751;
    color:#D8E3E7;
    border-radius: 8px;
    width: 147px;
    height: 50px;
    margin-top: 10px;

    
}
  .form-elements{
  padding: 5px 5px;
  }
  
  .form-class{
    margin-top: 15px;
    border: 2px solid #346751;
  }
  .create-invite-modal-head{
    width: 651px;   
    text-align: center;
    background-color: #346751;
    color: white;
    margin-top: -41px;
    margin-left: -20px;
  }
  .password-text{
    margin-left:35px;
  }

  